.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid whitesmoke;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__left > img {
  margin-left: 5px;
  /* height: 40px; */
}
.header__middle {
  display: flex;
  flex: 0.76;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  padding: 16px;
  background-color: rgb(240, 234, 234);
  border-radius: 15px;
  cursor: pointer;
}
.header__middle > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
}
.header__middle > .MuiSvgIcon-root {
  color: "grey";
}
.header__right {
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
}
